.dashboard-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.dashboard-book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    min-width: 20%;
    padding: 2rem;
}

.dashboard-image{
    width: 11rem;
    height: 11rem;
    margin: 0.5rem;
    cursor: pointer;
}

.dashboard-title{
    min-height: 4.52rem;
    display:flex;
    width: 11rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.book-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 4rem;
    min-width: 50vh;
    margin-left: 18rem;
    height: 75vh;
}

.book-details-container{
    display: flex;
    flex-direction: row;
    height:70vh;
}

.book-image-container{
    margin-top: 1rem;
    display: flex;
    width: 30rem;
    height: 35rem;
    justify-content: center;
    align-items: center;
}

.book-image{
    width: 25rem;
    height: 35rem;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
}

.book-info-container{
    margin-left: 7.5rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 70vh;
}

.book-info-container > h1{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.book-info-container > span{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.buttonGreen{
    width: 4rem;
    height: auto;
    overflow: none;
}

.buttonGrey{
    padding: 0.5rem;
}

.buttonGrey > p{
    margin-bottom: 0;
} 

.back-arrow{
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    cursor: pointer;
}

.meter { 
    height: 20px;
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }

  .meter > span {
    display: block;
    height: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
  }