.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.dashboard-book-container {
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.dashboard-image {
  width: 11rem;
  height: 11rem;
  margin: 0.5rem;
  cursor: pointer;
}

.dashboard-image:hover {
  transform: scale(1.1);
}

.dashboard-title {
  min-height: 4.52rem;
  display: flex;
  width: 11rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.dashboard-title p {
  margin-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-container {
  margin: 1rem;
  margin-top: 4rem;
}

.book-details-container {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.book-image-container {
  margin-top: 1rem;
  display: flex;
  width: 30rem;
  height: 35rem;
  justify-content: center;
  align-items: center;
}

#book-image {
  width: 25rem;
  height: 35rem;
  box-shadow: 5 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.book-info-container {
  margin-left: 7.5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 60vh;
  height: 70vh;
}

.book-info-container > h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.book-info-container > span {
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
}

.buttonGrey {
  padding: 0.5rem;
}

.buttonGrey > p {
  margin-bottom: 0;
}

.buttonBlack {
  bottom: 0;
  width: 50rem;
}

.back-arrow {
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
  cursor: pointer;
}

.back-arrow:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

.modal--container {
  opacity: 1;
  height: 30%;
  z-index: 9998;
}

.modal--background {
  z-index: 1;
}

.dotGreen {
  height: 25px;
  width: 25px;
  background-color: #53c23de7;
  border-radius: 50%;
  display: inline-block;
}

.dotOrange {
  height: 25px;
  width: 25px;
  background-color: #c08036;
  border-radius: 50%;
  display: inline-block;
}

.dotRed {
  height: 25px;
  width: 25px;
  background-color: #c83333;
  border-radius: 50%;
  display: inline-block;
}
