@font-face {
  font-family: 'EuclidSquare';
  src: url('../fonts/EuclidSquare-Light.woff2') format('woff2'),
       url('../fonts/EuclidSquare-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare';
  src: url('../fonts/EuclidSquare-Bold.woff2') format('woff2'),
       url('../fonts/EuclidSquare-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h2{
 font-weight: bold;
}

html, body{
  min-height: 100vh;
  font-family: 'EuclidSquare', sans-serif;
}

.buttonGrey{
  display: inline-block;
  width: auto;
  background: #c8c8c8;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
  padding: 0.5rem;
  color: #000000;
  border-radius: 2rem;
  height: 2rem;
  border: none;
  text-align: center;
  line-height: 18px;
  margin: 0.5rem;
}

.buttonGrey:hover{
  background: #000000;
  color: #ffffff;
}

.buttonGreen{
  display: inline-block;
  width: auto;
  background: #00e600;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
  padding: 1.5rem;
  font-size: 20px;
  color: #000000;
  border-radius: 2rem;
  border: none;
  text-align: center;
  line-height: 0.2rem;
  margin: 0.5rem;
}

.buttonGreen:hover{
  background: #00a100;
}

.buttonBlack{
  display: inline-block;
  width: auto;
  background: #000000;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
  color: #ffffff;
  padding: 1.5rem;
  font-size: 20px;
  border-radius: 2rem;
  border: none;
  text-align: center;
  line-height: 0.2rem;
  margin: 0.5rem;
}

.buttonBlack:hover{
  background: #5a5a5a;
}

button:hover{
    cursor: pointer;
}

button:active{
  opacity: .5;
}

svg:hover{
  cursor: pointer;
}

body{
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0px;
}

.logo{
  display: inline-block;
  width: 15rem;
  padding: 10px;
}

.AccountLogo{
  display: inline-block;
  width: 3rem;
  padding: 8px;
  margin-top: 8px;
  margin-right: 5px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: white;
}

.nav-links{
  display:flex;
  overflow: hidden;
}

.nav-links a {
  float: left;
  text-align: center;
  padding:20px;
  text-decoration: none;
  color: black;
}

.nav-links > li {
  list-style: none;
  font-size: 20px;
}

.nav-links a:hover{
  background-image: var(--button-color);
  border-radius: 10px;
  color: black;
}

.App{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

.Main{
  padding: 10px;
}

footer{
  margin-top: auto;
  padding: 10px;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: rgba(168, 191, 225, 0.655);
  text-align: center;
  font-size: 20px;
}


